* {
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}
.image {
    background: url(img/backg.jpg) center center no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#mazeholder {
    z-index: 1;
    position: absolute;
    width: 484px;
    height:484px;
    top: 0;
    left: 100px;
}

#canvas {
    position: absolute;
    z-index: 10;
}
