*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#mazeholder{
    position: relative;
    width: auto;
}
#mazeholder > img{
    display: block;
}
#canvas{
    position: absolute;
    z-index: 10;
}